.box-builder {
  align-items: center;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 3px 10px #9E9E9E;
  display: flex;
  flex-direction: column;
  height: 75%;
  overflow: auto;
  padding: 20px;
  width: 60%;
  -webkit-box-shadow: 0 3px 10px #9E9E9E;
  -moz-box-shadow: 0 3px 10px #9E9E9E;
  z-index: 1;
}

.desc-underneath {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 70%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0px;
  margin: 20px;
  overflow: auto;
  text-align: center;
  width: 30%;
}

.example-desc-underneath {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.left-box {
  position: absolute;
  left: 3%;
  transition: left 1.5s ease-in;
}

.left-box.transition-right {
  left: 37%;
}

.right-box {
  position: absolute;
  right: 3%;
  transition: right 1.5s ease-in;
}

.right-box.transition-left {
  right: 37%;
}

.row-direction {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row-end {
  align-items: center;
  justify-content: flex-end;
}

.row-start {
  align-items: center;
  justify-content: flex-start;
}

.transition-comp-title-desc {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .box-builder {
    width: 49%;
  }

  .desc-underneath {
    width: 35%;
  }

  .left-box {
    left: 5%;
  }
  
  .left-box.transition-right {
    left: 46%;
  }
  
  .right-box {
    right: 5%;
  }
  
  .right-box.transition-left {
    right: 46%;
  }
}

@media only screen and (max-width: 398px) {
  .box-builder {
    width: 40%;
  }

  .desc-underneath {
    width: 30%;
  }

  .example-desc-underneath {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .left-box {
    left: 5%;
  }
  
  .left-box.transition-right {
    left: 55%;
  }
  
  .right-box {
    right: 5%;
  }
  
  .right-box.transition-left {
    right: 55%;
  }
}
